# config/vae_config.yaml
defaults:
  - _self_

hydra:
  run:
    dir: .
  output_subdir: null
  job:
    chdir: False

# === 模型参数 (Model Args) ===
model:
  hidden_channels: 512
  latent_channels: 128
  strides: [2, 2]
  kl_weight: 0.0001
  kl_clamp: 0.0
  latent_dropout: 0.0
  norm_num_groups: 32
  use_l1_loss: True
  ssim_weight: 0.5

# === 数据参数 (Data Args) ===
data:
  data_dir: "${hydra:runtime.cwd}/data/mels/train/LibriTTS_R"
  eval_data_dir: "${hydra:runtime.cwd}/data/mels/dev/LibriTTS_R"
  train_subsets: "train-clean-100,train-clean-360,train-other-500"
  eval_subsets: "dev-clean"
  crop_size: 256

# === 训练参数 (Training Args) ===
training:
  output_dir: "${hydra:runtime.cwd}/outputs/checkpoints/vae_4x_128_5e-4"
  per_device_train_batch_size: 256
  per_device_eval_batch_size: 256
  gradient_accumulation_steps: 1
  learning_rate: 5e-4
  lr_scheduler_type: "cosine"
  warmup_ratio: 0.05
  num_train_epochs: 50
  save_steps: 2000
  save_total_limit: 3
  logging_steps: 50
  eval_strategy: "steps"
  eval_steps: 2000
  load_best_model_at_end: True
  metric_for_best_model: "loss"
  remove_unused_columns: False
  dataloader_num_workers: 8
  bf16: True
  ddp_find_unused_parameters: False
  report_to: "wandb"
  run_name: "vae_4x_128_5e-4"
  save_strategy: "steps"
  seed: 42